//dinh nghia cac module nho duoc tai su dung o nhieu noi
.c-button--container{
    background-color: black;
    padding: 1rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 1rem;
}